{
	"presets": [
		[
			"env",
			{
				"modules": false
			}
		],
		"react"
	],
	"plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "external-helpers",
		"transform-class-properties",
		"syntax-dynamic-import",
		"transform-decorators-legacy"
  ],
  "env": {
		"test": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        [
          "transform-runtime",
          {
            "polyfill": false,
            "regenerator": true
          }
        ],
        "external-helpers",
        "syntax-dynamic-import",
        "transform-es2015-modules-commonjs",
        "transform-class-properties",
        "transform-decorators-legacy"
      ]
		}
	}
}
